{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "prettier",
    "react-hooks"
  ],
  "extends": [
    "prettier/@typescript-eslint", // Uses eslint-config-prettier to disable ESLint rules from @typescript-eslint/eslint-plugin that would conflict with prettier
    "plugin:react/recommended", // Uses the recommended rules from @eslint-plugin-react
    "plugin:@typescript-eslint/recommended", // Uses the recommended rules from the @typescript-eslint/eslint-plugin
    "plugin:prettier/recommended"
  ],
  "env": {
    "node": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "legacyDecorators": true,
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "16"
    }
  },
  "rules": {
    "react-hooks/exhaustive-deps": [
      "warn",
      {
        "enableDangerousAutofixThisMayCauseInfiniteLoops": true
      }
    ],
    "no-empty-function": "off",
    "space-before-function-paren": "off",
    "react/prop-types": "off",
    "react/jsx-handler-names": "off",
    "react/jsx-fragments": "off",
    "react/no-unused-prop-types": "off",
    // "import/export": "off",
    "prettier/prettier": "error",
    "react-hooks/rules-of-hooks": "error"
  }
}